<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<title><ui:insert name="title">(!!OVERRIDE TITLE!!!)</ui:insert>
	</title>
	<!--Meta Tags //-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />

	<ui:insert name="outputStylesheet" />
</h:head>
<h:body>

	<h:form style="direction: ltr;height: 100%;width: 100%;" id="mainForm">
		<style>
.ui-growl {
	width: 600px;
}
.ui-growl-message {
	padding: 0 0 5px 0;
	width: 570px;
	float: left ;
}
</style>
		<p:growl id="growl" showDetail="true" sticky="true"
			severity="info,warn,error" />

		<!-- head -->
		<div id="mainLayoutHead">
			<ui:insert name="mainLayoutHead" />
		</div>

		<!-- content -->
		<div id="mainLayoutContentWrapper">
			<ui:insert name="mainContent" />
		</div>


		<!-- Footer -->
		<div id="mainLayoutFooter">
			<ui:insert name="mainLayoutFooter" />
		</div>

	</h:form>
	<ui:insert name="exstraForm" />
</h:body>
</html>