<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
  <h:form id="mainForm" styleClass="mainForm">
          <h:head>
              <meta charset="utf-8"/>
              <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
              <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
              
              <!-- Fonts -->
              <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,300italic,400italic,600italic,700italic|Droid+Serif:400,400italic"/>
              <link rel="stylesheet" href="resources/assets/fonts/novecento/stylesheet.css"/>
              <link rel="stylesheet" href="resources/assets/icons/glyphicons/style.min.css"/>
              <link rel="stylesheet" href="resources/assets/icons/font-awesome/font-awesome.min.css"/>
              <style>
                  @import url('https://fonts.googleapis.com/earlyaccess/opensanshebrew.css');
              </style>
              
              <!-- Styles -->
              <link rel="stylesheet" href="resources/assets/css/normalize.css" type="text/css" />
              <link rel="stylesheet" href="resources/assets/css/bootstrap.min.css"/>
              <link rel="stylesheet" href="resources/assets/css/style.min.css"/>
              <link rel="stylesheet" href="resources/assets/css/theme-light.css"/>
              <link rel="stylesheet" href="resources/assets/css/template.css" type="text/css" />
              
              <!-- Plugins -->
              <link rel="stylesheet" href="resources/assets/plugins/royalslider/royalslider.min.css"/>
              <link rel="stylesheet" href="resources/assets/plugins/owlcarousel/owl.carousel.min.css"/>
              <link rel="stylesheet" href="resources/assets/plugins/mfp/jquery.mfp.css"/>
              <script src="resources/assets/js/equalcolumns.js" type="text/javascript"></script>
              
              <!--[if IE ]>
                      <link href="resources/assets/css/ie.css" rel="stylesheet" type="text/css" />
              <![endif]-->
              
              <ui:insert name="header"/>
          </h:head>
  
          <body class="page-pageclass item-itemid;">
          <!--~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!  -->
              <div class="site-loader"></div>
  
              <!-- header -->
              <header class="site-header">
                  <div class="header-inner">
                      <div class="container">
                          <div class="row">
                              <div class="header-table col-md-12">
                                  <nav class="main-nav">
                                      <div class="moduletable">
                                          <a href="#" class="nav-toggle"></a>
                                          <ul id="responsiveMenu138" class="responsiveMenuTheme1  rtlLayout isDesktop" data-maxmobilewidth="801">
                                              <li id="item-101" class="current first active">
                                                  <a href="/apex/MofCalculator"><span class="linker">דף הבית</span></a>
                                              </li>
                                              <li id="item-136" class="parent">
                                                  <a href="/apex/MofCalculator?whichPage=Gemel" class="parent"><span class="linker">השוואת קופות גמל והשתלמות</span></a>
                                              </li>
                                              <li id="item-187" class="parent">
                                                  <a href="/apex/MofCalculator?whichPage=Pension" class="parent"><span class="linker">השוואת קרנות פנסיה</span></a>
                                              </li>
                                              <li id="item-194" class="parent">
                                                  <a href="/apex/MofCalculator?whichPage=Insurance" class="last" ><span class="linker">השוואת פוליסות חסכון וביטוחי מנהלים </span></a>
                                              </li>
                                          </ul>
                                      </div>
                                  </nav>
                              <div class="logo">
                                  <a href="/">
                                      <img src="http://www.fsfp.co.il/images/logo-2.png" alt="Logo" width="212" height="90"/>
                                  </a>
                                  </div>
                                  <div class="phone">
                                          <p>מחשבון פיננסי</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </header> <!-- end header -->
  
              <!-- main content -->
              <div class="site-wrapper">
                  <div class="site-body">
                  <!-- 
                      Home page
                      <div class="fixed-contact home">
                          <a href="/יצירת-קשר.html">/יצירת-קשר.html</a>
                      </div>
                   -->    
                      <section id="home" class="site-splash fullscreen home_anchor">
                          <div class="section-row-container" id="slider">
                              <div class="section-row">
                                  <img src="{!$Resource.PageBanner}" alt="" class="defaultimg" style="width: 1509.0543259557344px; height: 350px; position: relative; left: 10px; top: 0px; opacity: 1;"/>
                              </div>
                          </div>
                      </section>  
                      <ui:insert name="debug"/>
                      <section id="services" class="site-splash fullscreen home_anchor" >
                          <div class="section-row-container">
                              <div class="section-row">
                                  <div class="container" style="width:96%">
                                      <div class="row">
                                          <ui:insert name="content"/>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </section>  
                                          
                      
                     <!-- 
                       section testimonials / about 
                      <section id="testimonials" class="section th-dark about home_anchor" >
                          <div class="section-row half-padding-bottom half-padding-top">
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-lg-11 col-lg-push-1">                       
                                              <div class="row">
                                                  <div class="col-md-6 text">
                                                      <div class="icon-box " data-animation-name="fadeInUpBig">
                                                                      
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6 image">
                                                      <div class="icon-box " data-animation-name="fadeInUpBig">
                                                                      
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-lg-11 col-lg-push-1">                       
                                              <div class="row">
                                                  <div class="col-md-6 image2">
                                                      <div class="icon-box " data-animation-name="fadeInUpBig">
                                                          
                                                      </div>
                                                  </div>                                  
                                              </div>
                                          </div>  
                                      </div>
                                  </div>
                              </div>
                          
                      </section>   end section about 
                     
                      section services / money
                      <section id="services" class="section money home_anchor">
                          <div class="section-row-container">
                              <div class="section-row">
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-lg-11 col-lg-push-1">                       
                                              <div class="row">
                                                  <div class="col-md-12 text">
                                                      <div class="icon-box " data-animation-name="fadeInUp">
                                                      </div>
                                                  </div>
                                                  
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </section>  end section courses
      
                       section parallax / system
                      <section class="section system home_anchor" >
                          <div class="section-row-container">
                              <div class="section-row th-dark no-padding-bottom bg-transparent">
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-md-12 " >
                                                  
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>      
                      </section> end section values
          
          
                       section pricing / planing
                      <section id="pricing" class="section planing home_anchor">
                          <div class="section-row-container">
                              <div class="section-row">
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-lg-11 col-lg-push-1">                       
                                              <div class="row">
                                                  <div class="col-md-12 text">
                                                      <div class="icon-box " data-animation-name="fadeInUp">
                                                              
                                                      </div>
                                                  </div>
                                                  
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </section> end section team
          
                       section th-dark / news
                      <section class="section th-dark news " >
                          <div class="section-row-container">
                              <div class="section-row">
                                  <div class="container">
                                      <div class="row" >
                                          <div class="col-md-11 col-md-push-1">
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="icon-box"  data-animation-name="fadeInUp">
                                                              
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </section> end section th-dark
                      <a class="top" name="top"></a>
                      <section class="section page">
                          <div class="fixed-contact page"><a href="#contact"></a></div>
                          <div class="banner section-row-container">
                              <div class="col-md-12 banner">
                                   
                              </div>
                          </div>
                      
  
                          <div class="section-row no-padding-top page content ">
                              <div class="container">
                                  <div class="row">
                                      middle
                                      <div class="col-md-12 middle">
                                                      
                                      </div>
                                      right
                                      
                                      <aside class="sidebar col-md-3 right">
                                          <div class="sidebar-block">
                                              <jdoc:include type="modules" name="right" style="xhtml" />
                                          </div>
                                      </aside>
                                      
                                  </div>
                              </div>
                          </div>
                      
                          <a class="contact-anchor" name="contact"></a>
                          <div class="contact-form section-row-container">
                              <div class="col-md-12">
                      
                              </div>
                          </div>
                      </section>
    -->
              </div>
              <!-- footer -->
              <footer class="site-footer">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="footer_menu">
                                  <p>FOOTER_MENU</p>
                              </div>
                              <div class="footer_contact">
                                  <div class="moduletable">
                                      <div class="custom" style="font-size: 13px;">
                                          <h4>
                                              <a href="/יצירת-קשר.html">צרו קשר</a>
                                          </h4>
                                          <p>טלפון 03-7387700</p>
                                          <p></p>
                                          <ul>
                                              <li>
                                                  <a href="http://facebook.com" target="_blank">
                                                      <img title="4 עונות בפייסבוק" src="http://www.fsfp.co.il/images/icons/facebook.png" alt="4 עונות בפייסבוק"/>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="http://linkedin.com" target="_blank">
                                                      <img title="4 עונות בלינקדין" src="http://www.fsfp.co.il/images/icons/linkedin.png" alt="4 עונות בלינקדין"/>    
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="http://twitter.com"  target="_blank">
                                                      <img title="4 עונות בטוויטר" src="http://www.fsfp.co.il/images/icons/twitter.png" alt="4 עונות בטוויטר"/>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="http://youtube.com"  target="_blank">
                                                      <img title="ערוץ הוידאו של 4 עונות" src="http://www.fsfp.co.il/images/icons/youtube.png" alt="ערוץ הוידאו של 4 עונות"/>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="footer_copyright">
                                  <p>Novideasoft LTD.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </footer> <!-- end footer -->
  
              </div> <!-- end site-wrapper div -->
          <!--~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!~!  -->
              <!-- Google Analytics -->
              <script>
                  (function(i, s, o, g, r, a, m) {
                      i['GoogleAnalyticsObject'] = r;
                      i[r] = i[r] || function() {
                          (i[r].q = i[r].q || []).push(arguments)
                      }, i[r].l = 1 * new Date();
                      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                      a.async = 1;
                      a.src = g;
                      m.parentNode.insertBefore(a, m)
                  })(window, document, 'script',
                          '//www.google-analytics.com/analytics.js', 'ga');
          
                  ga('create', 'UA-53195242-1', 'auto');
                  ga('send', 'pageview');
              </script>
          
              <script type="text/javascript" src="resources/assets/js/jquery-1.11.0.min.js"></script>
              <script type="text/javascript" src="resources/assets/js/hydrogen.setup.min.js"></script>
              <script type="text/javascript" src="resources/assets/js/hydrogen.scripts.min.js"></script>
              <script type="text/javascript" src="resources/assets/js/hydrogen.plugins.js"></script>
          
              <script type="text/javascript" src="resources/assets/plugins/royalslider/jquery.royalslider.min.js"></script>
              <script type="text/javascript" src="resources/assets/plugins/mfp/jquery.mfp-0.9.9.min.js"></script>
              <script type="text/javascript" src="resources/assets/plugins/mediaelement/mediaelement-and-player.min.js"></script>
              <script type="text/javascript" src="resources/assets/plugins/gmap/gmap3.min.js"></script>
              <script type="text/javascript" src="resources/assets/plugins/owlcarousel/owl.carousel.min.js"></script>
              <!--<script type="text/javascript" src="resources/assets/plugins/isotope/jquery.isotope.min.js"></script>-->
              <script type="text/javascript" src="resources/assets/plugins/form/jquery.form.min.js"></script>
              <script type="text/javascript" src="resources/assets/plugins/form/jquery.validate.min.js"></script>
          </body>
  </h:form>
</html>
