<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="/layouts/mainLayout.xhtml">

	<ui:define name="title">Admin Actions</ui:define>

	<ui:define name="mainContent">
		<p:commandButton id="dgfn" value="BUILD_DB" action="#{adminBean.doThat}" />
		<p:commandButton id="wf" value="TEST" action="#{adminBean.test}" />
	</ui:define>
</ui:composition>
