<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="/layouts/mainLayout.xhtml">

	<ui:define name="title">Test jQuery DataTable Actions</ui:define>

	<ui:define name="mainContent">

		<script src="//code.jquery.com/jquery-2.1.1.js" />
		<script type="text/javascript" charset="utf8"
			src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js" />
		<link rel="stylesheet" type="text/css"
			href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" />

		<script>
			var myData = #{tableDataViewHandler.projectedDataModellJson};

			$(document)
					.ready(
							function() {
								$('#dataTableDiv')
										.html(
												'<table cellpadding="0" cellspacing="0" border="0" class="display" id="dataTable"></table>');
								$('#dataTable')
										.DataTable(
												{
													data : myData,

													columns : [
															//	{ data : 'reportType' , "data" : 'ID'},                    
															{ "title" : "מס' באוצר", 		"data" : 'ID_OTZAR' },
															{ "title" : "מתקופה", 		"data" : 'HODESH_DIVUACH' },
															{ "title" : "סוג מוצר",    	"data" : 'SUG_MUTZAR' },
															{ "title" : "שם מוצר",    	"data" : 'SHEM_MUTZAR' },
															{ "title" : "תאגיד",    		"data" : 'TAAGID' },
															{ "title" : "וותק בשנים",  		"data" : 'VETEK_SHANIM' },
															{ "title" : "צבירה נטו",   		"data" : 'TZVIRA_NETO' },
															{ "title" : "הקף במיל'", 		"data" : 'HEKEF_MIL' },
															{ "title" : "מסלול השקעה",		"data" : 'MASLUL_HASHKAA' },
															{ "title" : "תשואה ממוצעת", 	"data" : 'TSUA_MEMUZAAT_LATKUFA' },
															{ "title" : "תשואה",		 	"data" : 'TSUA_LATKUFA' },
															{ "title" : 'ס"ת', 			"data" : 'STIAT_TEKEN_LATKUFA' },
															{ "title" : "שארפ", 			"data" : 'SHARAP_LATKUFA' },
															{ "title" : "ממוצע מניות", 		"data" : 'MENAYOT_HASIFA' }
															 
													]
												});
							});
		</script>
		<p:outputPanel id="pageContent" layout="block">
			<p:outputPanel id="inputs">
				<h1>Flatten Model</h1>
				<p:outputLabel value="getReportBetweenDates"
					style="margin-left:10px;" id="sqlBTN" />
				<p:commandButton value="Go" style="margin-left:10px;"
					action="#{tableDataViewHandler.generateReport}"
					update="mainForm" />
			</p:outputPanel>
			<p:separator style="margin-bottom:30px;" />
			<p:outputPanel id="tablePanel">
				<div id="dataTableDiv" />
			</p:outputPanel>
		</p:outputPanel>
	</ui:define>
</ui:composition>
