<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" >
 <!-- 
    <h:outputScript value="{!$Resource.jquery_2_1_0_min_js}" />
    <h:outputScript value="{!$Resource.jquery_blockUI_js}" />
  	<h:outputScript value="{!$Resource.jquery_ui_1_10_4}/jquery-ui-1.10.4/ui/jquery-ui.js" />
  	<h:outputStylesheet value="{!$Resource.jquery_ui_themes_1_10_4}/jquery-ui-themes-1.10.4/themes/smoothness/jquery-ui.css" />
  	 -->
  	<style type="text/css">
		.ui-progressbar {
		    position: relative;
		    height: 32px;
		    -webkit-border-radius: 20px; 
		    -moz-border-radius': 20px;
		}
		.progress-label {
		    position: absolute;
		    left: 40%;
		    top: 6px;
		    font-weight: bold;
		    text-shadow: 1px 1px 0 #fff;
		}
		div.growlUI { 
			background: url({!$Resource.Check}) no-repeat 10px 15px;
			height: 55px;
		}
		div.growlUI h1, div.growlUI h2 {
		    color: white; padding:5px 5px 5px 75px; text-align: left;word-wrap: break-word;width: 300px;
		}
		.ui-growl-error {
			background: url({!$Resource.Error}) no-repeat  10px 15px;
			min-height: 55px;
		}
		.ui-growl-error2 {
			background: url({!$Resource.Error2}) no-repeat  10px 15px;
			min-height: 55px;
		}
		.ui-growl-warn {
			background: url({!$Resource.Warn}) no-repeat  10px 15px;
			min-height: 55px;
		}
		.ui-growl-info {
			background: url({!$Resource.Info}) no-repeat  10px 15px;
			min-height: 55px;
		}
		.ui-growl-success {
			background: url({!$Resource.Check}) no-repeat  10px 15px;
			min-height: 55px;
	    }
    </style>
	<script>
	//<![CDATA[
		var $jq = jQuery.noConflict();
		// ## UI SECTION ##
	    function popErrorMsg(message){
	     	growl(message,'ERROR');
	    } 
	    function popError2Msg(message){
	     	growl(message,'ERROR');
	    } 
	    function popWarnMsg(message){
	     	growl(message,'WARN');
	    } 
	    function popInfoMsg(message){
	     	growl(message,'INFO');
	    } 
	    function popSuccessMsg(message){
	     	growl(message,'SUCCESS');
	    } 
	    $jq.blockUI.defaults.onBlock = onBlock;
	    function onBlock() {
	       $jq(function() {
	            var progressbar = $jq( "#progressbar" ),
	            progressLabel = $jq( ".progress-label" );
	         
	            progressbar.progressbar({
	              value: false,
	              change: function() {
	                progressLabel.text( progressbar.progressbar( "value" ) + "%" );
	              },
	              complete: function() {
	                progressLabel.text( "Complete!" );
	              }
	            });
	         
	            function progress() {
	              var val = progressbar.progressbar( "value" ) || 0;
	              progressbar.progressbar( "value", val + 1 );
	              if ( val < 99 ) {
	                setTimeout( progress, 1 );
	              }
	            }
	            setTimeout( progress, 850 );
	         });
	    }
	    //block component UI
	    function block(){
	      $jq('.signComponent').block({ 
	                 message: '<div id="progressbar"><div class="progress-label">Loading...</div></div>', 
	                 css: { 
	                    border: '2px solid #a00',
	                    '-webkit-border-radius': '20px', 
	                    '-moz-border-radius': '20px' 
	                    } 
	                      }); 
	    $jq(".blockUI").css("border-radius", "25px");
	    $jq(".blockMsg").css("top", "40%");
	    }
	    //unblock component UI
	    function unblock(){
	    $jq('.signComponent').unblock(); 
	    }
	  
	  	function growl(msg ,level){ 
	  	    if(level == 'ERROR'){
	       		 $jq.growlUI('Error',msg);
		      	 $jq('div.growlUI').attr('class', 'ui-growl-error');
			     $jq( "<br/>" ).insertBefore($jq('div.ui-growl-error h1'));
			     $jq( "<br/><br/>" ).insertBefore($jq('div.ui-growl-error h2'));
			     $jq( "<br/><br/>" ).insertAfter($jq('div.ui-growl-error h2'));
		         setTimeout(unblock,850);
	       		}
	    	else if(level == 'ERROR2'){
	     		 $jq.growlUI('Success',msg);
		      	 $jq('div.growlUI').attr('class', 'ui-growl-error2');
			     $jq( "<br/>" ).insertBefore($jq('div.ui-growl-error2 h1'));
			     $jq( "<br/><br/>" ).insertBefore($jq('div.ui-growl-error2 h2'));
			     $jq( "<br/><br/>" ).insertAfter($jq('div.ui-growl-error2 h2'));
	       		}
	    	else if(level == 'SUCCESS'){
	     		 $jq.growlUI('Success',msg);
		      	 $jq('div.growlUI').attr('class', 'ui-growl-success');
			     $jq( "<br/>" ).insertBefore($jq('div.ui-growl-success h1'));
			     $jq( "<br/><br/>" ).insertBefore($jq('div.ui-growl-success h2'));
			     $jq( "<br/><br/>" ).insertAfter($jq('div.ui-growl-success h2'));
	       		}
	    	else if(level == 'INFO'){
	       		 $jq.growlUI('Info',msg);
		      	 $jq('div.growlUI').attr('class', 'ui-growl-info');
			     $jq( "<br/>" ).insertBefore($jq('div.ui-growl-info h1'));
			     $jq( "<br/><br/>" ).insertBefore($jq('div.ui-growl-info h2'));
			     $jq( "<br/><br/>" ).insertAfter($jq('div.ui-growl-info h2'));
	       		}
	    	else if(level == 'WARN'){
	       		 $jq.growlUI('Warn',msg);
		      	 $jq('div.growlUI').attr('class', 'ui-growl-warn');
			     $jq( "<br/>" ).insertBefore($jq('div.ui-growl-warn h1'));
			     $jq( "<br/><br/>" ).insertBefore($jq('div.ui-growl-warn h2'));
			     $jq( "<br/><br/>" ).insertAfter($jq('div.ui-growl-warn h2'));
	      		}
	    } 
	    //]]>
	</script>
</ui:composition>