<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="/layouts/MofLayout.xhtml">

		<ui:define name="header">
			<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
			<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" />
		    <ui:include src="/GrowlBlockUI.xhtml" />  
		<!--  jQuery UI Support for dataTables
			<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/jqueryui/dataTables.jqueryui.js"></script>
			<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/jqueryui/dataTables.jqueryui.css" />
			
			<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
			<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css" />
			<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		-->

			<style>
				.mainForm {
					direction: {!$Label.Text_Direction};
					text-align: {!$Label .Text_Alignment};
				}
				/* 
			   #filterSet_1 {
					max-width: 380px;
				}
			   #filterSet_2 {
					max-width: 380px;
				}
				 */
				.filterSet {
					/* 
					height: 420px; 
					width: 350px;
					*/
					min-height: 203px;
					min-width: 400px;
					max-width: 660px;
					padding: 15px;
					border: dotted;
					border-width: thin;
					border-color: blanchedalmond;
					-webkit-border-radius: 5px; 
		    		-moz-border-radius': 5px;
		    		background :#D4EBFD;
					
				}
				.executeCustomQueryBTN {
					margin-right: 15px;
					width:80px;
					height: 25px
				}
				.refresh-btn-grp {
					margin-right: 82%;
					margin-top: -20px;
				}
				.compareGraphBTN {
					margin-right: 30px;
					margin-top: 20px;
				}
				.outerWrapperFrame {
					//margin-top: -140px;
				}
				
				.contentWrapper {
					margin-top: -140px;
				}
				
				.select-opt-filter {
					width: 200px;
					margin-{!$Label.Text_Alignment}:10px;
				}
				.checkbox-td {
					margin-right: auto;
					margin-left: auto;
				}
				.checkbox-th {
					margin-right: 2px;
					margin-left: auto;
					margin-top: auto;
					margin-bottom: auto;
				}
				table.display { 
					table-layout:fixed; 
				}
	  			th, td { 
  				 /* word-wrap:break-word; 
  					word-break: break-all;
  					overflow:hidden; 
  					text-overflow: ellipsis;  */
  					white-space:normal;
				}
				.ltr-col{
					direction: inherit;
				}
				td.ltr-col{
					direction: ltr;
				}
				table.dataTable.display tbody tr{
					height: 30px;
				}
				table.dataTable tbody td {
					padding: 0px 0px 0px 0px;
					text-align: center;
					vertical-align: middle;
				}
				table.dataTable thead th {
					text-align: center;
					color: #694D4D;
					font-size: 12px;
					background-color: rgb(245, 245, 231) !important;
					border: 1px dotted #F3EDED;
				}
				select[multiple], select[size] {
					height: 30px;
				}
				label {
					color: #636363;
				}			
			</style>
			<h:outputScript>
			//<![CDATA[
				// scripts for using inside all of the components tables 
				$jq(document).ready(function() {
				});
				var datatableLang = {
								    "sProcessing"	: "מעבד...",
								    "sLengthMenu"	: "_MENU_ פריטים",
								    "sZeroRecords"	: "לא נמצאו רשומות מתאימות",
								    "sInfo"			: "_START_ עד _END_ מתוך _TOTAL_ רשומות" ,
								    "sInfoEmpty"	: "0 עד 0 מתוך 0 רשומות",
								    "sInfoFiltered"	: "(מסונן מסך _MAX_  רשומות)",
								    "sInfoPostFix"	: "",
								    "sSearch"		: "חפש:",
								    "sUrl"			: "",
								    "oPaginate" 	: {
												        "sFirst"	: "ראשון",
												        "sPrevious" : "קודם",
												        "sNext"		: "הבא",
												        "sLast"		: "אחרון"
											    	 }
								   };
				
				// map to hold the selected data index 			   
			    var selectedItemsMap = new Object(); 
			     		
				selectedItemsMap.put = function(key,value) {
					selectedItemsMap[key] = value;
				}
				selectedItemsMap.get = function(key) {
				    return selectedItemsMap[key];
				}
				selectedItemsMap.remove = function(key) {
				    delete selectedItemsMap[key];//remove key and value
				}
				
				// loop through the tabel data and manipulate as necessary 
				function addCheckToData(){
					for(var i = 0; i<tableData.length;i++){
		     		 	tableData[i].index   = i;
		     		 	tableData[i].checked = false;
		     		 	tableData[i].nill 	 = 'nill';
		     		 	if(tableData[i].SHEM_MASLUL == undefined){ //case not 'Insurance'
							if(tableData[i].TSUA_HODSHIT == undefined)
								tableData[i].TSUA_HODSHIT = 0;
							if(tableData[i].SHARP_ALL == undefined)
								tableData[i].SHARP_ALL = 0;
							if(tableData[i].TZVIRA_NETO == undefined)
								tableData[i].TZVIRA_NETO = 0;
							if(tableData[i].STIAT_TEKEN_LATKUFA == undefined)
								tableData[i].STIAT_TEKEN_LATKUFA = 0;
							if(tableData[i].VETEK_SHANIM == undefined)
								tableData[i].VETEK_SHANIM = '';
		     		 	}
							
						// fix numeric length  	
						for(var x in tableData[i]){ 
							if(!isNaN(tableData[i][x]) && x != 'ID_OTZAR' && x != 'checked')
								try{
									tableData[i][x] = Number(tableData[i][x].toFixed(2));
								}catch(err){
									console.log("error while fixing decimal places" + tableData[i][x] + ' <=== ' + x);
								}
						}
					}
				}
				
				// ckeck or uncheck all of the N'th paginate checkboxes   
				function toggleChecks(element){
					if(!element.checked)
						 $jq("input[name$=rowItemCheckbox]:checked").prop('checked', false);
					else
						 $jq("input[name$=rowItemCheckbox]").prop('checked', true);
				}
				
				// table row onchange checkbox event  
				function rowItemSelected(element,iDataIndex){
					if(element.checked){
						tableData[iDataIndex].checked = true;
						selectedItemsMap.put(iDataIndex,iDataIndex);
					}
					else{				
						tableData[iDataIndex].checked = false;
						selectedItemsMap.remove(iDataIndex);
					}
				}
				
				/////// Graph and charts section /////// 
				var chartWrapper;
				var minYAxis = 0;
       
				function compareTableItems(){
					 selectedTableData = [];
					
					for(var selectedInedx in selectedItemsMap){
						if(!isNaN(selectedInedx) )//is number
							selectedTableData.push(tableData[selectedInedx]);
					}
					myWindow = window.open("{!$Page.GraphComparison}","השוואת גרפים",'width=900,height=700');
				//	myWindow.comparisonDataArr = JSON.stringify(selectedTableData);
				 	myWindow.comparisonDataArr = selectedTableData;
				 	myWindow.chartWrapper = buildChartWrapper(selectedTableData);
			    }
			    
				function ChartWrapper(title, subtitle, xAxis, yAxis, series) {
				    this.title 	  = title;
				    this.subtitle = subtitle;
				    this.xAxis    = xAxis;
				    this.yAxis 	  = yAxis;
				    this.series   = series;
				}
				//
				//	pass on the data ready for the desired view of the typed graph 
				//
			    function buildChartWrapper(selectedTableData){
			   		if('{!controllerData.whichPage}' =="Gemel"){
			   			chartWrapper = pensionOrGemelWrapper(selectedTableData,"Gemel");
			   		}
			   		else if('{!controllerData.whichPage}' == "Pension"){
			   			chartWrapper = pensionOrGemelWrapper(selectedTableData,"Pension");
			   		}
			   		else if('{!controllerData.whichPage}' == "Insurance" ){
			   		
			   		}
			   		return chartWrapper;
			    }
			    
			    //
			    // build 'Gemel' or 'Pention' ChartWrapper
			    //
			   	function pensionOrGemelWrapper(selectedTableData, type){
			   		var series = [];
			   		minYAxis = 0;
		   			for(var i = 0 ; i < selectedTableData.length ; i++ ){
		   				minYAxis = Math.min( selectedTableData[i].STIAT_TEKEN_LATKUFA ,Math.min( selectedTableData[i].SHARP_LATKUFA , Math.max(minYAxis, selectedTableData[i].TSUA_MEMUZAAT_LATKUFA)));
		   				series.push(
			   							{
			   								name: selectedTableData[i].SHEM_MUTZAR, 
			   								data: [
			   										selectedTableData[i].TSUA_MEMUZAAT_LATKUFA, 
			   										selectedTableData[i].SHARP_LATKUFA, 
			   										selectedTableData[i].STIAT_TEKEN_LATKUFA
		   										  ],
		   								 // color: colors[i]
		   								}
   									);
		   			}
	   				return new ChartWrapper(
	   							 			 // title   
											 { text: "ייעוץ פיננסי - השוואת קופות גמל" },
	   							  			 // subtitle
											 { text: "השוואת פרטים נבחרים" },
	   							  			 // xAxis
											 { categories: [ 'תשואה ממוצעת לתקופה','שארפ לתקופה','סטיית תקן']},
	   							 		     // yAxis 	  
											 { min: minYAxis, title: {text: "מדדים"} },
	   							 			 // series   
	   							 			 series
   											);
			   	} 
			 //]]>
			</h:outputScript>
		</ui:define>
		
		<ui:define name="debug">
			<p:outputPanel id="inputs" layout="block" rendered="#{mofBean.debug}"
								  style="text-align:left;direction:ltr">
	            <section id="myDebug" class="section th-dark home_anchor" style="height: 155px;margin-top: -60px;">
	                <div class="section-row half-padding-bottom half-padding-top">
	                        <div class="container">
	                            <div class="row">
									<p:outputLabel value="use MySQL syntax: " />
									<br/>
									<p:inputTextarea value="#{mofBean.controllerData.queryString}" style="width:100%;" />
	                            </div>
	                        </div>
	                </div>
	            </section>  
			</p:outputPanel>
		</ui:define> 
		
		<ui:define name="content"> 
			
		
			<p:outputPanel id="contentWrapper"  layout="block" styleClass="contentWrapper" >
		        <script>
					var tableData;
	                $jq(document).ready(function() {
	                                    tableData = '#{mofBean.controllerData.dataJson}';
                                    	buildDataTable();
	                                });
		        </script>
		        <!-- 
		        <apex:include pageName="MofGemelComparison" rendered="{!isGemel}"/>
		        <apex:include pageName="MofInsuranceComparison" rendered="{!isInsurance}"/>

		         -->
		        <ui:include src="/MofPensionComparison.xhtml"/>

		      	<div class="outerWrapperFrame">
		            <br/>
		            <br/>
		            <p:outputPanel id="pageContent" layout="block">
		                <table>
		                    <tr>
		                        <td>
		                            <table cellspacing="20" style="width: 100%;">
		                                <tr>
		                                    <td>
		                                        <div id="filterSet_1" class="filterSet">
		                                            <!-- <ui:include src="/"/> -->
		                                        </div>
		                                    </td>
		                                    <td style="padding-{!$Label.Text_Alignment}: 16px">
		                                        <div id="filterSet_2" class="filterSet">
		                                           <!--  <c:MofDatePeriodChooser controllerData="{!controllerData}"/> -->
		                                        </div>
		                                    </td>
		                                </tr>
		                            </table>
		                        </td>
		                    </tr>
		                    <tr>
		                        <td>
		                            <p:outputPanel  id="tablePanel">
		                                <input id="compareGraphBTN" class="compareGraphBTN" type="button" value="השווה גראפים" onclick="compareTableItems();" />
										<div class="refresh-btn-grp">
											<p:outputLabel value="רענן תקופה ונתונים:"/>
											<p:commandButton id="executeCustomQueryBTN" value="רעננן" action="#{mofBean.executeCustomQuery}"  
																onclick="block('dataTable');" oncomplete="unblock('dataTable');" 
																styleClass="executeCustomQueryBTN" update="contentWrapper,inputs"/> 
											<p:message for="executeCustomQueryBTN" />
										</div>
		                                <div id="dataTableDiv"  style="padding-top: 20px;"></div>
		                            </p:outputPanel>
		                        </td>
		                    </tr>
		                </table>
		            </p:outputPanel>
		        </div> 
			</p:outputPanel>
		</ui:define>
</ui:composition>