<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	 <script>
		//<![CDATA[                                
              function buildDataTable() {
                      $jq('#dataTableDiv').html('<table cellpadding="0" cellspacing="0" border="0" width="100%" class="display" id="dataTable"></table>');
                      addCheckToData();
                      myDataTable = $jq('#dataTable').DataTable(
                                      { 
                                         //"autoWidth": false,  
                                       
                                          language            : datatableLang ,
                                          "lengthMenu"        : [[ 30, 60, 100, -1], [ 30, 60, 100, "הכל"]],
                                          data                : tableData ,
                                          "fnCreatedRow"      : function( nRow, aData, iDataIndex ) {
                                                                     $jq('td:eq(0)', nRow).html( '<input type="checkbox" onchange="rowItemSelected(this,' + iDataIndex + ')" name="rowItemCheckbox" class="checkbox-td" value="'+ aData.Id+'" style="margin-{!$Label .Text_Alignment}:2px;">');
                                      
                                                                } ,
                                          "columnDefs"        : [
                                                                  {"targets": 0, "width": "1px"  ,"data"  : 'checked',"orderable": false,"searchable": false}, //,"title" : '<input type="checkbox" id="selectAllCheckboxes" onclick="toggleChecks(this);"  class="checkbox-th"/>',
                                                                  {"targets": 1, "width": "10%"  ,"title" : 'סוג מוצר',        	  		"data" : 'SUG_MUTZAR'},
                                                                  {"targets": 2, "width": "35px" ,"title" : 'מספר באוצר',       	   		"data" : 'ID_OTZAR' }, 
                                                                  {"targets": 3, "width": "17%"  ,"title" : 'שם מוצר',          	   		"data" : 'SHEM_MUTZAR' }, 
                                                                  {"targets": 4, "width": "17%"  ,"title" : 'תאגיד',           	   		"data" : 'TAAGID'},
                                                                  {"targets": 5, "width": "6%"   ,"title" : 'צבירה נטו לתקופה',      			"data" : 'TZVIRA_NETO', className: "ltr-col" },
                                                                  {"targets": 6, "width": "6%"   ,"title" : 'היקף במיליונים',        	 		"data" : 'HEKEF_MIL' },
                                                                  {"targets": 7, "width": "6%"   ,"title" : 'מסלול השקעה',         		"data" : 'nill' },
                                                                  {"targets": 8, "width": "6%"   ,"title" : 'תשואה ממוצעת לתקופה',  			"data" : 'TSUA_MEMUZAAT_LATKUFA', className: "ltr-col" },
                                                                  {"targets": 9,"width": "6%"   ,"title" : 'תשואה מצטברת לתקופה',  	   		"data" : 'TSUA_MIZTABERET_LATKUFA', className: "ltr-col" },
                                                                  {"targets": 10,"width": "6%"   ,"title" : 'תשואה מצטברת בניכוי דמי ניהול',		"data" : 'TSUA_MIZTABERET_DMEI_NIHUL_LATKUFA', className: "ltr-col" },
                                                                  {"targets": 11,"width": "6%"   ,"title" : 'ס"ת  לתקופה',      	   		"data" : 'STIAT_TEKEN_LATKUFA' },
                                                                  {"targets": 12,"width": "6%"   ,"title" : 'שארפ  לתקופה',    	   		"data" : 'SHARP_LATKUFA', className: "ltr-col" },
                                                                  {"targets": 13,"width": "6%"   ,"title" : 'ממוצע מניות  לתקופה',	       		"data" : 'nill' },
                                                                  {"targets": 14,"width": "6%"   ,"title" : 'חודש דיווח',         	   		"data" : 'HODESH_DIVUACH' }
                                                                ] 
                                      } 
                                  );
          }
          //]]>
      </script>
      <h3>השוואת קופות גמל והשתלמות</h3>
		          
</ui:composition>