<apex:page showHeader="false" sidebar="false">
    <script>
              function buildDataTable() {
                      $jq('#dataTableDiv').html('<table cellpadding="0" cellspacing="0" border="0" width="100%" class="display" id="dataTable"></table>');
                      addCheckToData();
                      myDataTable = $jq('#dataTable').DataTable(
                                      { 
                                         //"autoWidth": false,  
                                       
                                          language            : datatableLang ,
                                          "lengthMenu"        : [[ 30, 60, 100, -1], [ 30, 60, 100, "הכל"]],
                                          data                : tableData ,
                                          "fnCreatedRow"      : function( nRow, aData, iDataIndex ) {
                                                                     $jq('td:eq(0)', nRow).html( '<input type="checkbox" onchange="rowItemSelected(this,' + iDataIndex + ')" name="rowItemCheckbox" class="checkbox-td" value="'+ aData.Id+'" style="margin-{!$Label .Text_Alignment}:2px;">');
                                      
                                                                } ,
                                          "iDisplayLength"    : 25,
                                          "columnDefs"        : [
                                                                  {"targets": 0, "width": "1px"  , "data" : 'checked',"sortable": false,"searchable": false}, //,"title" : '<input type="checkbox" id="selectAllCheckboxes" onclick="toggleChecks(this);" class="checkbox-th"/>'
                                                                  {"targets": 1, "width": "35px" ,"title" : 'מספר פוליסה',        "data" : 'ID_POLICY' }, 
                                                                  {"targets": 2, "width": "17%"  ,"title" : 'שם בית השקעות',      "data" : 'TAAGID'},
                                                                  {"targets": 3, "width": "17%"  ,"title" : 'שם מסלול',       "data" : 'SHEM_MASLUL' }
                                                                  /* , 
                                                                  {"targets": 4, "width": "10%"  ,"title" : 'סוג מסלול',          "data" : 'SUG_MASLUL'} 
                                                                  */
                                                                ] 
                                      } 
                                  );
          }
      </script>
      <h3>השוואת פוליסות חסכון וביטוחי מנהלים</h3>
</apex:page>