<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="/layouts/mainLayout.xhtml">

	<ui:define name="title">Test jQuery DataTable Actions</ui:define>

	<ui:define name="mainContent">

		<script src="//code.jquery.com/jquery-2.1.1.js" />
		<script type="text/javascript" charset="utf8"
			src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js" />
		<link rel="stylesheet" type="text/css"
			href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" />

		<script>
			var myData = #{tableDataViewHandler.dataJson};

			$(document)
					.ready(
							function() {
								$('#dataTableDiv')
										.html(
												'<table cellpadding="0" cellspacing="0" border="0" class="display" id="dataTable"></table>');
								$('#dataTable')
										.DataTable(
													{ 
														data : myData,  
														columns : [ 
																	//	{ data : 'reportType' }, 
																	{ "title" : 'מזהה', 								"data" : 'ID' }, 
																	{ "title" : 'מפתח', 								"data" : 'Key' }, 
																	{ "title" : 'סוג קופה', 							"data" : 'ReportType' }, 
																	{ "title" : 'UpdatedDate', 						"data" : 'UpdatedDate' }, 
																	{ "title" : 'שם', 								"data" : 'SHEM' }, 
																	{ "title" : 'עד תקופת דיווח', 						"data" : 'AD_TKUFAT_DIVUACH' }, 
																	{ "title" : 'מתקופת דיווח', 						"data" : 'MI_TKUFAT_DIVUACH' }, 
																	{ "title" : 'אלפא שנתי', 							"data" : 'ALPHA_SHNATI' }  /* */ , 
																	{ "title" : 'סוג', 								"data" : 'SUG' }, 
																	{ "title" : 'TSUA_HODSHIT', 					"data" : 'TSUA_HODSHIT' }, 
																	{ "title" : 'SHARP_RIBIT_HASRAT_SIKUN', 		"data" : 'SHARP_RIBIT_HASRAT_SIKUN' }, 
																	{ "title" : 'STIAT_TEKEN_36_HODASHIM', 			"data" : 'STIAT_TEKEN_36_HODASHIM' }, 
																	{ "title" : 'STIAT_TEKEN_60_HODASHIM', 			"data" : 'STIAT_TEKEN_60_HODASHIM' }, 
																	{ "title" : 'TAARICH_HAFAKAT_HADOCH', 			"data" : 'TAARICH_HAFAKAT_HADOCH' }, 
																	{ "title" : 'TSUA_MEMUZAAT_36_HODASHIM', 		"data" : 'TSUA_MEMUZAAT_36_HODASHIM' }, 
																	{ "title" : 'TSUA_MEMUZAAT_60_HODASHIM', 		"data" : 'TSUA_MEMUZAAT_60_HODASHIM' }, 
																	{ "title" : 'TSUA_MEMUZAAT_LETKUFA', 			"data" : 'TSUA_MEMUZAAT_LETKUFA' }, 
																	{ "title" : 'TSUA_MITZTABERET_36_HODASHIM', 	"data" : 'TSUA_MITZTABERET_36_HODASHIM' }, 
																	{ "title" : 'TSUA_MITZTABERET_60_HODASHIM', 	"data" : 'TSUA_MITZTABERET_60_HODASHIM' }, 
																	{ "title" : 'TSUA_SHNATIT_MEMUZAAT_3_SHANIM', 	"data" : 'TSUA_SHNATIT_MEMUZAAT_3_SHANIM' }, 
																	{ "title" : 'TSUA_SHNATIT_MEMUZAAT_5_SHANIM', 	"data" : 'TSUA_SHNATIT_MEMUZAAT_5_SHANIM' }, 
																	{ "title" : 'YAHAS_NEZILUT', 					"data" : 'YAHAS_NEZILUT' }, 
																	{ "title" : 'TSUA_MITZ_LE_TKUFA', 				"data" : 'TSUA_MITZ_LE_TKUFA' }, 
																	{ "title" : 'SHARP_ANAF', 						"data" : 'SHARP_ANAF' }, 
																	{ "title" : 'HAFKADOT_LLO_HAAVAROT', 			"data" : 'HAFKADOT_LLO_HAAVAROT' }, 
																	{ "title" : 'MATZAV_DIVUACH', 					"data" : 'MATZAV_DIVUACH' }, 
																	{ "title" : 'MSHICHOT_LLO_HAAVAROT', 			"data" : 'MSHICHOT_LLO_HAAVAROT' }, 
																	{ "title" : 'SUG_TAAGID_SHOLET', 				"data" : 'SUG_TAAGID_SHOLET' }, 
																	{ "title" : 'SHM_HEVRA_MENAHELET', 				"data" : 'SHM_HEVRA_MENAHELET' }, 
																	{ "title" : 'SHM_TAAGID_SHOLET', 				"data" : 'SHM_TAAGID_SHOLET' }, 
																	{ "title" : 'SHIUR_DMEI_NIHUL_AHARON', 			"data" : 'SHIUR_DMEI_NIHUL_AHARON' }, 
																	{ "title" : 'TZVIRA_NETO', 						"data" : 'TZVIRA_NETO' }, 
																	{ "title" : 'YITRAT_NCHASIM_LSOF_TKUFA', 		"data" : 'YITRAT_NCHASIM_LSOF_TKUFA' }, 
																	{ "title" : 'HAAVAROT', 						"data" : 'HAAVAROT' }, 
																	{ "title" : 'SHARP_ALL', 						"data" : 'SHARP_ALL' }, 
																	{ "title" : 'BETA_AGACH_KONTZERNIOT_TZMUDOT', 	"data" : 'BETA_AGACH_KONTZERNIOT_TZMUDOT' }, 
																	{ "title" : 'BETA_AGACH_MEMSHALTIOT_TZMUDOT', 	"data" : 'BETA_AGACH_MEMSHALTIOT_TZMUDOT' }, 
																	{ "title" : 'BETA_AGACH_MEM_LO_TZMUDOT', 		"data" : 'BETA_AGACH_MEM_LO_TZMUDOT' }, 
																	{ "title" : 'BETA_HUTZ_LAARETZ', 				"data" : 'BETA_HUTZ_LAARETZ' }, 
																	{ "title" : 'BETA_TA100', 						"data" : 'BETA_TA100' }, 
																	{ "title" : 'SHIUR_D_NIHUL_HAFKADOT', 			"data" : 'SHIUR_D_NIHUL_HAFKADOT' }, 
																	{ "title" : 'SHIUR_D_NIHUL_NECHASIM', 			"data" : 'SHIUR_D_NIHUL_NECHASIM' }, 
																	{ "title" : 'HITMAHUT_MISHNIT', 				"data" : 'HITMAHUT_MISHNIT' }, 
																	{ "title" : 'HITMAHUT_RASHIT', 					"data" : 'HITMAHUT_RASHIT' }, 
																	{ "title" : 'MISPAR_KUPA_AV', 					"data" : 'MISPAR_KUPA_AV' }, 
																	{ "title" : 'UCHLUSIYAT_YAAD', 					"data" : 'UCHLUSIYAT_YAAD' }, 
																	{ "title" : 'TAARICH_HAKAMA', 					"data" : 'TAARICH_HAKAMA' }, 
																	{ "title" : 'TSUA_MEMUZAT_HASHKAOT_HOFSHIOT', 	"data" : 'TSUA_MEMUZAT_HASHKAOT_HOFSHIOT' }, 
																	{ "title" : 'ODEF_GIRAON_ACTUARI_AHARON', 		"data" : 'ODEF_GIRAON_ACTUARI_AHARON' }, 
																	{ "title" : 'ID_HEVRA', 						"data" : 'ID_HEVRA' }, 
																	{ "title" : 'R_SQUARED', 						"data" : 'R_SQUARED' }, 
																	{ "title" : 'TKUFAT_HAKAMA', 					"data" : 'TKUFAT_HAKAMA' }, 
																	{ "title" : 'YIT_NCHASIM_BFOAL', 				"data" : 'YIT_NCHASIM_BFOAL' }  
																] 
													} 
												);
							});
		</script>
		<p:outputPanel id="pageContent" layout="block">
			<p:outputPanel id="inputs">
				<p:outputLabel value="use MySQL syntax: " />
				<p:inputText value="#{tableDataViewHandler.queryString}"
					style="width:500px" />
				<p:outputLabel value="Execute custom Query"
					style="margin-left:10px;" id="sqlBTN" />
				<p:commandButton value="Go" style="margin-left:10px;"
					action="#{tableDataViewHandler.executeCustomQuery}"
					update="mainForm" />
				<a href="/MofWebService/flat-table.xhtml">flat-table.xhtml</a>
			</p:outputPanel>
			<p:separator style="margin-bottom:30px;" />
			<p:outputPanel id="tablePanel">
				<div id="dataTableDiv" />
			</p:outputPanel>
		</p:outputPanel>
	</ui:define>
</ui:composition>
